@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  scroll-behavior: smooth;
}

:root {
  --side-hexagone: 50px;
  --hex-color: rgb(49, 228, 255);
  --height: 51.96304px;
  --width: 90px;
}

@media screen and (max-width: 768px) {
  :root {
    --height: 37.528px;
    --width: 65px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --height: 31.7551px;
    --width: 55px;
  }
}

@media screen and (max-width: 360px) {
  :root {
    --height: 25.9815px;
    --width: 45px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  z-index: 1000;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: MontSerrat;
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.hexagone {
  box-sizing: border-box;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--hex-color);
  margin: calc(var(--height) / 2) 0;
}
.hexagone:before,
.hexagone:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 0;
  border-left: calc(var(--width) / 2) solid transparent;
  border-right: calc(var(--width) / 2) solid transparent;
}
.hexagone:after {
  top: 100%;
  width: 0;
  border-top: calc(var(--height) / 2) solid var(--hex-color);
  @apply shadow-md shadow-cyan-800;
}
.hexagone:before {
  bottom: 100%;
  border-bottom: calc(var(--height) / 2) solid var(--hex-color);
}

.letter {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-6xl max-md:text-4xl max-sm:text-2xl;
}
